.container {

margin-top: 100px;



}

.bigimg, .medimg{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.sectionsbreak {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#rightbackground{

    /* background-color: #e5183e; */
    /* background-color:hsl(359, 23%, 70%); */
    /* background-color: hsl(10, 35%, 27%); */
    /* background-color: hwb(93 23% 70%); */
    background-color: hsl(210, 18%, 7%);

}